$dviolet: hsl(256, 26%, 20%);
$gblue: hsl(216, 30%, 68%);

$vdviolet: hsl(270, 9%, 17%);
$dgviolet: hsl(273, 4%, 51%);
$vlgray: hsl(0, 0%, 98%);

$heading: "DM Serif Display", serif;
$paragraph: "Karla", sans-serif;
